@import "../../../styles/colors";
@import "../../../styles/bem";

.image-display {

  @include element(image-container) {
    background: center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
  }

  @include element(flag) {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 107px;
    height: 26px;
    line-height: 26px;
    background: $light-gray;
    color: $white;
    font-weight: normal;
    margin: 0;
    text-align: center;
    font-size: 12px;

    @include modifier(is-on-sale) {
      background: transparent linear-gradient(125deg, $on-sale-color-1 0%, $on-sale-color-2 100%) 0% 0% no-repeat padding-box;
    }

    @include modifier(is-exclusive) {
      background: transparent linear-gradient(125deg, $exclusive-color-1 0%, $exclusive-color-2 100%) 0% 0% no-repeat padding-box;
    }
  }
}
