@import "../../../styles/colors";
@import "../../../styles/bem";

.content-header {
  color: inherit;
  border-bottom: 1px solid $separator-color;
  padding-bottom: 50px;
  margin-bottom: 50px;

  @include modifier(is-small) {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  @include element(title) {
    font-size: 20px;
    font-weight: bolder;
    margin: 0 15px 0 0;

    @media (max-width: 768px) {
      margin: 0 0 30px 0;
      width: 100%;
      text-align: center;
    }
  }

  @include element(title-complement) {
    font-size: inherit;
    font-weight: lighter;
  }

  @include element(description) {
    color: $secondary-text-color;

    @media (max-width: 768px) {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }

  @include element(container) {
    display: flex;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @include element(start-enhancer) {
    margin-right: 15px;
    display: flex;

    @media (max-width: 768px) {
      margin: 0 0 20px 0;
      width: 100%;
      justify-content: space-around;
    }
  }

  @include element(end-enhancer) {
    display: flex;
    flex-direction: row-reverse;
    flex: 2;
    text-align: right;

    @media (max-width: 768px) {
      margin: 0 0 20px 0;
      width: 100%;
      justify-content: space-around;
    }
  }
}
