$body-color: #F1F3F3;
$white: #ffffff;
$black: #000000;
$blue: #0086F8;
$purple: #5E3BA5;
$dark-gray: #282430;
$light-gray: #8E879E;
$medium-gray: #E5E6E6;

$disabled-color: #A4A5BC;
$shadow-color: #16319B29;

$separator-color: $medium-gray;

$text-color: $dark-gray;
$secondary-text-color: $light-gray;

:export {
  bodyColor: $body-color;
}
