@import "../../styles/bem";
@import "../../styles/colors";

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  @include element(item) {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20%;
    display: flex;
    justify-content: stretch;
    -webkit-box-shadow: 0 10px 20px $shadow-color;
    -moz-box-shadow: 0 10px 20px $shadow-color;
    box-shadow: 0 10px 20px $shadow-color;

    @media (max-width: 1440px) {
      width: 30%;
      margin-bottom: 5%;
    }

    @media (max-width: 1024px) {
      width: 45%;
      margin-bottom: 5%;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 10%;
      align-self: center;
    }
  }

  @media (min-width: 1024px) {
    justify-content: space-between;

    &:after {
      content: '';
      width: 30%;
      height: 1px !important;
      justify-self: flex-start;
    }
  }

}

