@import "../../styles/bem";
@import "../../styles/colors";

.amount-favorite-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include element(amount) {
    color: $purple;
    font-size: 20px;
    margin-right: 10px;
  }
}
