@import "../../../styles/colors";
@import "../../../styles/bem";

.product-card {
  display: flex;
  flex-direction: column;

  @include element(image-container) {
    background: center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 190px;
    position: relative;
  }

  @include element(name) {
    margin: 0 0 10px 0;
  }

  @include element(action-bar) {
    margin: 0 0 20px 0;
  }

  @include element(description) {
    margin: 0;
  }

  @include element(body) {
    background: $white;
    padding: 20px 30px;
    flex: 2;
  }

  @include element(flag) {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 107px;
    height: 26px;
    line-height: 26px;
    background: $light-gray;
    color: $white;
    font-weight: normal;
    margin: 0;
    text-align: center;
    font-size: 12px;

    @include modifier(is-on-sale) {
      background: transparent linear-gradient(125deg, $on-sale-color-1 0%, $on-sale-color-2 100%) 0% 0% no-repeat padding-box;
    }

    @include modifier(is-exclusive) {
      background: transparent linear-gradient(125deg, $exclusive-color-1 0%, $exclusive-color-2 100%) 0% 0% no-repeat padding-box;
    }
  }
}
