@import "../../styles/colors";
@import "../../styles/bem";

.search-bar {
  width: 100%;
  max-width: 445px;
  height: 48px;
  background: $white;
  border-radius: 90px;
  box-shadow: 0px 3px 6px $shadow-color;
  display: flex;
  padding: 10px 15px;

  @include element(button) {
    background: transparent;
    border: none;
    width: 24px;
    padding: 0;
    outline: none;
    position: relative;
    margin-right: 30px;

    &:after {
      content: '';
      width: 0;
      border-right: 1px solid $separator-color;
      position: absolute;
      right: -15px;
      top: 0;
      bottom: 0;
    }
  }

  @include element(icon) {
    display: block;
    max-width: 100%;
  }

  @include element(input) {
    border: none;
    flex: 2;
    font-size: 16px;
    outline: none;
  }
}
