@import "styles/colors";

.default-table {

  border-collapse: collapse;
  td, th {
    padding: 10px;
  }

  td {
    color: $dark-gray2;
    font-weight: 500;
  }

  tr:hover td {
    background: $body-color;
  }
}

.is-paid {
  color: $green;
}

.is-unpaid, .is-payment-never-done {
  color: $error-color;
}
